<{extend name="Base/common" /}>
<!--样式-->
<{block name="style"}>
<link href="__CSS__/form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__JS__/jquery-validate.js"></script>
<!-- 引入编辑器插件-->
<link rel="stylesheet" type="text/css" href="__DATA__/myeditor/themes/default/default.css"/>
<script charset="utf-8" src="__DATA__/myeditor/kindeditor.js"></script>
<{/block}>
<!--首页左侧菜单-->
<{block name="menu"}>
    <{include file="Public/left-content" /}>
<{/block}>
<!--主体-->
<{block name="main"}>
<script>
    //编辑器引用激活
    KindEditor.ready(function(K) {
        //颜色截取插件
        var colorpicker;
        K('#colorpicker').bind('click', function(e) {
            e.stopPropagation();
            if (colorpicker) {
                colorpicker.remove();
                colorpicker = null;
                return;
            }
            var colorpickerPos = K('#colorpicker').pos();
            colorpicker = K.colorpicker({
                x : colorpickerPos.x,
                y : colorpickerPos.y + K('#colorpicker').height(),
                z : 19811214,
                selectedColor : 'default',
                noColor : '无颜色',
                click : function(color) {
                    K('#color').val(color);
                    K('.color').css('background-color',color);
                    colorpicker.remove();
                    colorpicker = null;
                }
            });
        });

    });
</script>
    <div class="form_title"><i class="icon-cogs"><span class="glyphicon glyphicon-th-list"></span></i>导航</div>
    <div class="form_con">
        <!--表单-->
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>提示！</strong> 推荐位只支持一级分类 <br/>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <legend></legend>
                <h4 class="text-center">新增推荐位</h4>
                <form id="role_add" method="post" class="form-horizontal" action="<{:U('Category/natureHandle')}>">
                    <fieldset>
                        <legend></legend>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">推荐位名称</label>
                            <div class="col-lg-3">
                                <input class="form-control" type="text" name="title"  placeholder="推荐位名称"/>
                            </div>
                            <div class="col-lg-4">(尽量简短)</div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">颜色</label>
                            <div class="col-lg-2">
                                <input type="text" id="color" class="form-control" name="style" >
                            </div>
                            <div class="col-lg-4"><div class="color" style="background-color: {$data.style}; left: 0px; top:5px;" id="colorpicker" ></div></div>
                        </div>

                        <div class="form-group " >
                            <label class="col-lg-2 control-label">归属</label>
                            <div class="col-lg-4">
                                <select name="pid" class="form-control node-select">
                                    <option value="" >--选择推荐位归属--</option>
                                    <option value="0" data-level="0">新增分类（用来归类）</option>
                                    <{volist name="list" id="vo"}>
                                    <option value="<{$vo.id}>"><{$vo.title}></option>
                                    <{/volist}>
                                </select>
                            </div>
                            <div class="col-lg-4">(新增模型代表前台或后台或会员中心的模块)</div>
                        </div>

                    </fieldset>
                    <div class="form-group" id="lock">
                        <legend></legend>
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" id="fat-btn" class="btn btn-success" data-loading-text="Loading..." type="button">提 　交</button>
                            <button type="reset" class="btn btn2">重 　置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--表单-->
        <!--遮罩-->
        <!--dialog删除-->
        <div class="modal fade bs-example-modal-sm" id="error-dialog" tabindex="-1" style="top:50%; margin-top:-120px;">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" >操作提示</h4>
                    </div>
                    <div class="modal-body del-result">
                        正在提交中，请稍等！
                    </div>
                </div>
            </div>
        </div>
        <!--dialog-->
        <!--遮罩-->
    </div>
<script type="text/javascript">
    $(document).ready(function() {
        //验证规则
        var getUrl="<{:U('AuthGroup/checkRole')}>"
        $('#role_add').validate({
            errorElement:'span',   //错语标签
            errorClass:'error',    //错误css
            success:function(span){
                span.removeClass('error');
                span.addClass('success');
            },    //验证成功后移除error,添加success样式
            submitHandler:function(){
                $('#fat-btn').button('loading').queue(function() {
                    $('#error-dialog').modal('show');
                    form.submit();
                });
            },
            rules:{
                title:{required:true,rangelength:[2,20]},
                pid:{required:true},
                style:{rangelength:[2,20]}
            },
            messages:{
                title:{required:'推荐位名称不能为空',rangelength:'推荐位名称长度2-20位'},
                pid:{required:'请选择归属'},
                style:{rangelength:'颜色值为2-20位'}
            }
        });
    });
</script>

<{/block}>