<div class="lefttop"><i class="icon-cogs"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></i>　内容模型</div>
<dl class="leftmenu">
    <dd>
        <div class="dh-title">
            <i class="icon-cogs"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></i>
            文档管理
        </div>
        <ul class="menuson"  <{if condition="CONTROLLER_NAME =='Article'"}>style="display:block"<{else /}>style="display:none"<{/if}> >
            <li  <{if condition="ACTION_NAME =='articleAdd'"}> class="active" <{/if}>>
                <a href="<{:U('Article/articleAdd')}>"><i class="icon-cogs"><span class="glyphicon glyphicon-edit"></span></i>添加文档</a>
            </li>
            <li  <{if condition="(CONTROLLER_NAME =='Article') and (ACTION_NAME =='index')"}> class="active" <{/if}>>
                <a href="<{:U('Article/index')}>"><i class="icon-cogs"><span class="glyphicon glyphicon-file"></span></i>文档管理</a>
            </li>
            <li   <{if condition="ACTION_NAME =='my'"}> class="active" <{/if}>>
                <a href="<{:U('Article/my')}>"><i class="icon-cogs"><span class="glyphicon glyphicon-eye-open"></span></i>我发布的文档</a>
        </li>
            <li   <{if condition="ACTION_NAME =='normal'"}> class="active" <{/if}>>
        <a href="<{:U('Article/normal')}>"><i class="icon-cogs"><span class="glyphicon glyphicon-ok-sign"></span></i>审核通过文档</a>
        </li>
            <li   <{if condition="ACTION_NAME =='wait'"}> class="active" <{/if}>>
                <a href="<{:U('Article/wait')}>"><i class="icon-cogs"><span class="glyphicon glyphicon-question-sign"></span></i>待审核文档</a>
            </li>
            <li   <{if condition="ACTION_NAME =='remove'"}> class="active" <{/if}>>
                <a href="<{:U('Article/remove')}>"><i class="icon-cogs"><span class="glyphicon glyphicon-trash"></span></i>已删除文档</a>
            </li>
            <li>
                <a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-cog"></span></i>模型设置</a></li>
        </ul>
    </dd>
    <dd>
        <div class="dh-title">
            <i class="icon-cogs"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></i>
            栏目管理
        </div>
        <ul class="menuson"   <{if condition="CONTROLLER_NAME =='Category'"}>style="display:block"<{else /}>style="display:none"<{/if}>>
            <li   <{if condition="ACTION_NAME =='category_add'"}> class="active" <{/if}>>
            <a href="<{:U('Category/category_add')}>"><i class="icon-cogs"><span class="glyphicon glyphicon-plus-sign"></span></i>添加栏目</a>
            </li>
            <li   <{if condition="(CONTROLLER_NAME =='Category') and (ACTION_NAME =='index')"}> class="active" <{/if}>>
            <a href="<{:U('Category/index')}>"><i class="icon-cogs"><span class="glyphicon glyphicon-hdd"></span></i>栏目管理</a>
            </li>
            <li <{if condition="ACTION_NAME =='nature'"}> class="active" <{/if}>>
                <a href="<{:U('Category/nature')}>"><i class="icon-cogs"><span class="glyphicon glyphicon-menu-hamburger"></span></i>推荐位管理</a></li>
            <li <{if condition="ACTION_NAME =='nature_add'"}> class="active" <{/if}>>
                <a href="<{:U('Category/nature_add')}>"><i class="icon-cogs"><span class="glyphicon glyphicon-edit"></span></i>添加推荐位</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-equalizer"></span></i>类别管理</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-th-large"></span></i>添加类别</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-cog"></span></i>栏目设置</a></li>
        </ul>
    </dd>
    <dd>
        <div class="dh-title">
            <i class="icon-cogs"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></i>
            发布管理
        </div>
        <ul class="menuson">
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-random"></span></i>更新系统缓存</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-refresh"></span></i>更新首页HTML</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-align-right"></span></i>一键更新全站</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-list"></span></i>更新栏目HTML</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-edit"></span></i>更新文档HTML</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-map-marker"></span></i>更新专题</a></li>
        </ul>
    </dd>

</dl>