<div class="lefttop"><i class="icon-cogs"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></i>　工作台</div>
<dl class="leftmenu">
    <dd>
        <div class="dh-title">
            <i class="icon-cogs"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></i>
            个人信息
        </div>
        <ul class="menuson">
            <li  <{if condition="ACTION_NAME =='password'"}> class="active" <{/if}> >
                <a href="<{:U('Index/password')}>"><i class="icon-cogs"><span class="glyphicon glyphicon-pencil"></span></i>密码修改</a>
            </li>
            <li  <{if condition="ACTION_NAME =='info'"}> class="active" <{/if}>>
                <a href="<{:U('Index/info')}>"><i class="icon-cogs"><span class="glyphicon glyphicon-envelope"></span></i>个人信息</a>
            </li>
            <li  <{if condition="ACTION_NAME =='log'"}> class="active" <{/if}>>
            <a href="<{:U('Index/log')}>"><i class="icon-cogs"><span class="glyphicon glyphicon-log-out"></span></i>登陆日志</a>
            </li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-log-in"></span></i>操作日志</a></li>
        </ul>
    </dd>
    <dd>
        <div class="dh-title">
            <i class="icon-cogs"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></i>
            常用操作
        </div>
        <ul class="menuson">
            <li><a href="<{:U('Index/document')}>"><i class="icon-cogs"><span class="glyphicon glyphicon-file"></span></i>文档管理</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-align-right"></span></i>栏目管理</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-list"></span></i>我发布的文档</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-edit"></span></i>待审核文档</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-trash"></span></i>已删除文档</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-edit"></span></i>待审核评论</a></li>
        </ul>
    </dd>
    <dd>
        <div class="dh-title">
            <i class="icon-cogs"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span></i>
            HTML更新
        </div>
        <ul class="menuson">
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-random"></span></i>更新系统缓存</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-refresh"></span></i>更新首页HTML</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-align-right"></span></i>一键更新全站</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-list"></span></i>更新栏目HTML</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-edit"></span></i>更新文档HTML</a></li>
            <li><a href="#"><i class="icon-cogs"><span class="glyphicon glyphicon-map-marker"></span></i>更新专题</a></li>
        </ul>
    </dd>
</dl>