<footer class="container-fluid" id="blog-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-text">
                <h3>我们的优势 <small>Our advantage</small></h3>
                <p>互联网资深精英 <br/>6年以上的项目设计经验 <br/>成熟完备的设计流程</p>
            </div>
            <div class="col-md-3 footer-text">
                <h3>成为合作伙伴 <small>Cooperation Partner</small></h3>
                <p>欢迎优秀设计师加入我们 <br/>灵活的项目合作制作 <br/>建立长久合作关系</p>
            </div>
            <div class="col-md-3 footer-text">
                <h3> 联系我们 <small>Contact Us</small></h3>
                <p>电子邮箱：ni5400@163.com <br/>业务电话:13811158884 <br/>合作qq:340318</p>
            </div>
            <div class="col-md-3 footer-text footer-text2">
                <h3>ki35.com</h3>
                <img src="__IMG__/logo-footer.jpg" alt=""/>
            </div>
        </div>
        <div class="row footer-nr">
            <div class="col-md-8">Copyright © 2015　http://www.ki35.com 所有　仅供学习交流，勿用于任何商业用途　　备案号：京ICP备09026757号-3</div>
            <div class="col-md-4"> <img src="__IMG__/logo-footer2.jpg" alt=""/></div>
        </div>
    </div>
</footer>
<!--页面底部end-->
</body>
</html>