<!-- blog sidebar start -->
<div class="col-md-4 pull-right" id="blog-sidebar">
    <div class="row">
        <!-- blog share start -->
        <div class="col-md-12 blog-sidebar-one-content">
            <div class="blog-sidebar-title">
                <ul>
                    <li><a class="cur" href="javascript:;">热门标签</a></li>
                </ul>
            </div>
            <div class="blog-tags-list clearfix">
                <a style="color:rgb(146,162,161)" href="#tag/tag_magento1.html">magento入门</a><a style="color:rgb(238,117,81)" href="#tag/tag_linux.html">运维与架构</a><a style="color:rgb(162,97,207)" href="#tag/tag_unix.html">linux</a><a style="color:rgb(151,67,145)" href="#tag/tag_php.html">php</a><a style="color:rgb(39,43,17)" href="#tag/tag_php_1.html">PHP开发技巧</a><a style="color:rgb(77,65,57)" href="#tag/tag_tp.html">thinkphp</a><a style="color:rgb(147,111,159)" href="#tag/tag_function.html">方法库</a><a style="color:rgb(1,157,65)" href="#tag/tag_magento_1.html">magento进阶</a><a style="color:rgb(81,135,110)" href="#tag/tag_mysql.html">Mysql</a><a style="color:rgb(56,103,204)" href="#tag/tag_js.html">Javascript</a><a style="color:rgb(62,142,229)" href="#tag/tag_design_pattern.html">设计模式</a><a style="color:rgb(215,19,22)" href="#tag/tag_server.html">web服务器</a>            </div>
        </div>
        <!-- blog share end -->
        <!-- blog search start -->
        <div class="col-md-12 blog-sidebar-one-content">
            <div class="blog-sidebar-title">
                <ul>
                    <li><a class="cur" href="javascript:;">笔记搜索</a></li>
                </ul>
            </div>
            <form class="blog-article-search blog-search-form" action="#search" method="GET">
                <input type="text" class="form-control blog-search-form-input" name="wd" value="" maxlength="20" placeholder="笔记搜索">
                <span class="glyphicon glyphicon-search blog-article-search-icon"></span>
                <button type="submit" class="blog-article-search-submit"></button>
            </form>
            <!--<script type="text/javascript">document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://znsv.baidu.com/customer_search/api/js?sid=13127054175925001484') + '&plate_url=' + (encodeURIComponent(window.location.href)) + '&t=' + (Math.ceil(new Date()/3600000)) + unescape('"%3E%3C/script%3E'));</script>-->
        </div>
        <!-- blog search end -->
        <!-- blog sidebar new article start -->
        <div class="col-md-12 blog-sidebar-one-content">
            <div class="blog-sidebar-title">
                <ul>
                    <li><a class="cur" href="javascript:;">最新笔记</a></li>
                </ul>
            </div>
            <div class="blog-notes-new-list">
                <ul>
                    <li class="clearfix">
                        <a href="##"><div class="blog-article-created-at-day"><span>06-19</span></div></a>
                        <div class="blog-notes-new-list-title">
                            <h4>
                                <a href="#notes/mMDA2NjVjZTg2MjNlMzZ.html">让thinkphp在nginx上面运行起来</a>
                            </h4>
                        </div>
                    </li>
                    <li class="clearfix">
                        <a href="##"><div class="blog-article-created-at-day"><span>06-18</span></div></a>
                        <div class="blog-notes-new-list-title">
                            <h4>
                                <a href="#notes/jkwZTg5NzZhYWI1Mjk4Z.html">使用nginx_http_concat模块合并静态文件</a>
                            </h4>
                        </div>
                    </li>
                    <li class="clearfix">
                        <a href="##"><div class="blog-article-created-at-day"><span>06-16</span></div></a>
                        <div class="blog-notes-new-list-title">
                            <h4>
                                <a href="#notes/OGQ0YmY4Y2UwZmYyZWMx.html">为网站提速-优化网站的响应时间</a>
                            </h4>
                        </div>
                    </li>
                    <li class="clearfix">
                        <a href="##"><div class="blog-article-created-at-day"><span>06-16</span></div></a>
                        <div class="blog-notes-new-list-title">
                            <h4>
                                <a href="#notes/DllYzk5MGYxOWM3OGM3N.html">密码散列安全</a>
                            </h4>
                        </div>
                    </li>
                    <li class="clearfix">
                        <a href="##"><div class="blog-article-created-at-day"><span>06-12</span></div></a>
                        <div class="blog-notes-new-list-title">
                            <h4>
                                <a href="#notes/mIxNDg3NWU0NWJiYTAyO.html">在mysql中使用正则查询</a>
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- blog sidebar new article end -->
    </div>
</div>
<!-- blog sidebar end -->