<{extend name="Base/common" /}>
<!--首页左侧菜单-->
<{block name="style"}><link href="__CSS__/form.css" rel="stylesheet" type="text/css" /><{/block}>
<{block name="menu"}>
    <{include file="Public/left-setting" /}>
<{/block}>

<{block name="main"}>

    <div class="form_title"><i class="icon-cogs"><span class="glyphicon glyphicon-th-list"></span></i>节点管理</div>
   <div class="form_con">
       <div class="alert alert-warning alert-dismissible" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <strong>谨慎操作！</strong> 权限方案，请勿删除已有节点，否则可能造成系统错误 <br/>
           <strong>模块</strong>对应的ThinkPHP分组即MODULE_NAME <br/>
           <strong>控制器</strong>对应的ThinkPHP的 CONTROLLER_NAME <br/>
           <strong>操作名</strong>对应的ThinkPHP的ACTION_NAME <br/>
       </div>
       <!--模块开始-->
       <!--列表开始-->
       <table class="table table-striped table-hover">
           <tbody>
           <tr style="background: #efefef;">
               <th><input type="checkbox" value="option1"></th>
               <th>ID</th>
               <th>节点名称</th>
               <th>节点名</th>
               <th>状态</th>
               <th>管理操作</th>
               <th>详细信息</th>
           </tr>
           <{volist name="cate" id="vo"}>
           <tr>
               <td><input type="checkbox" value="option1"></td>
               <td><{$vo.id}></td>
               <td>
                   <{if condition="$vo['pid']==0"}>
                   <i class="glyphicon glyphicon-check" style="color: #a80804" data-toggle="tooltip" data-placement="left" title="分组"></i> <{$vo.title}>
                   <{else /}>
                   <{if condition="$vo['level']==2"}><{$vo.html}>
                   <i class="glyphicon glyphicon-hand-right" style="color: #187baf" data-toggle="tooltip" data-placement="left" title="模块"></i>├【<{$vo.title}>】<{else /}>
                   <{$vo.html}>　<i class="glyphicon glyphicon-log-in" style="color: #5d9912" data-toggle="tooltip" data-placement="left" title="方法"></i>├【<{$vo.title}>】
                   <{/if}>

                   <{/if}>
               </td>
               <td><{$vo.name}></td>
               <td class="btn_edit">
                   <{if condition="$vo['status']==1"}>
                   <i class="glyphicon glyphicon-ok" style="color: #5d9912" data-toggle="tooltip" data-placement="right" title="正常"></i>
                   <{else /}>
                   <i class="glyphicon glyphicon-remove" style="color: #a80804"  data-toggle="tooltip" data-placement="right" title="已停用"></i>
                   <{/if}>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="left" title="修改" ><i class="glyphicon glyphicon-pencil"></i></button>
                   <button class="btn btn-sm btn-danger btn-remove" data-toggle="tooltip" data-placement="right" title="删除"><i class="glyphicon glyphicon-trash"></i></button>
               </td>
               <td>
                   其它信息
               </td>
           </tr>
           <{/volist}>

           </tbody>
       </table>
       <!--列表结束-->
       <!--操作-->

       <div class="btn-group" role="group">
           <div class="btn-group dropup">

               <button type="button" class="btn btn-sm btn-primary">操作</button>
               <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <span class="caret"></span>
               </button>
               <ul class="dropdown-menu">
                   <li><a href="#">批量删除</a></li>
                   <li><a href="#">新增</a></li>
               </ul>
           </div>
       </div>
       <!--操作-->


     <!--模块结束-->

</div>
<!--dialog-->
<script>
    $('.btn-remove').click(function(){
        $('#my-modal').modal('show');
        $('.true-remove').click(function(){
//            $.ajax({
//                url : ThinkPHP['MODULE'] + '/Topic/ajaxCount',
//                type : 'POST',
//                data : {
//
//                },
//                success: function(data, response, status){
//                    window.count = parseInt(data);
//                }
//            });
            $('#my-modal').modal('hide');
            alert('删除成功');
            $('.modal-body').html('删除成功');
            $('#error-dialog').modal('show');
            setTimeout(function(){
                $('.modal-body').html('...');
                $('#error-dialog').modal('hide');
            },2000);

        })
    })


</script>

<{/block}>