<{extend name="Base/common" /}>
<!--样式-->
<{block name="style"}>
<link href="__CSS__/form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__JS__/jquery-validate.js"></script>
<{/block}>
<!--首页左侧菜单-->
<{block name="menu"}>
    <{include file="Public/left-setting" /}>
<{/block}>
<!--主体-->
<{block name="main"}>
    <div class="form_title"><i class="icon-cogs"><span class="glyphicon glyphicon-th-list"></span></i>导航</div>
    <div class="form_con">
        <!--表单-->
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>提示！</strong> 角色新增成功后需要单独配置权限方案 <br/>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <legend></legend>
                <h4 class="text-center">新增角色</h4>
                <form id="role_add" method="post" class="form-horizontal" action="<{:U('AuthGroup/group_addHandle')}>">
                    <fieldset>
                        <legend></legend>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">角色名</label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" name="title" placeholder="请输入角色名"/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="status" value="1" checked>  启用(默认是启用状态)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <legend></legend>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" id="fat-btn" class="btn btn-success" data-loading-text="提交中" type="button">提 　交</button>
                            <button type="reset" class="btn btn2">重 　置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--表单-->
        <!--遮罩-->
        <!--dialog删除-->
        <div class="modal fade bs-example-modal-sm" id="error-dialog" tabindex="-1" style="top:50%; margin-top:-120px;">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" >操作提示</h4>
                    </div>
                    <div class="modal-body del-result">
                        正在提交中，请稍等！
                    </div>
                </div>
            </div>
        </div>
        <!--dialog-->
        <!--遮罩-->
    </div>
<script type="text/javascript">
    $(document).ready(function() {
        //验证规则
        var getUrl="<{:U('AuthGroup/checkRole')}>"
        $('#role_add').validate({
            errorElement:'span',   //错语标签
            errorClass:'error',    //错误css
            success:function(span){
                span.removeClass('error');
                span.addClass('success');
            },    //验证成功后移除error,添加success样式
            submitHandler:function(){
                $('#fat-btn').button('loading').queue(function() {
                    $('#error-dialog').modal('show');
                    form.submit();
                });
            },
            rules:{
                title:{required:true,rangelength:[2,20],
                    remote:{
                        url:getUrl,
                        type:'post',
                        dataType:'json',
                        data:{ title:function(){return $('input[name=title]').val();}},
                        complete:function(data){}
                    }
                }
            },
            messages:{
                title:{required:'角色名不能为空',rangelength:'角色长度2-20位',remote:'角色名重复'}
            }
        });
    });
</script>

<{/block}>