<{extend name="Base/common" /}>
<!--首页左侧菜单-->
<{block name="style"}><link href="__CSS__/form.css" rel="stylesheet" type="text/css" /><{/block}>
<{block name="menu"}>
    <{include file="Public/left-setting" /}>
<{/block}>

<{block name="main"}>

    <div class="form_title"><i class="icon-cogs"><span class="glyphicon glyphicon-th-list"></span></i>管理员列表</div>
   <div class="form_con">
       <table class="table table-striped table-hover table_border">
           <thead>
           <tr class="success">
               <th class="col-sm-1"><input type="checkbox"  value="option1">ID</th>
               <th class="col-lg-1">用户名</th>
               <th class="col-lg-1">角色</th>
               <th class="col-lg-2">登陆时间</th>
               <th class="col-lg-1">最后登陆IP</th>
               <th class="col-lg-2">注册时间</th>
               <th class="col-lg-1">登陆次数</th>
               <th class="col-lg-1">用户状态</th>
               <th class="col-lg-1">管理操作</th>
               <th class="col-lg-1">详细信息</th>
           </tr>
           </thead>
           <tbody>
           <tr>
               <td><input type="checkbox"  value="option1">222</td>
               <td>admin</td>
               <td>管理员</td>
               <td>2015-06-22 21:10:17</td>
               <td>127.0.0.1</td>
               <td>2015-06-22 21:10:17</td>
               <td>20</td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn btn-primary"><i class="glyphicon glyphicon-ok"></i></button>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                   <button class="btn btn-sm btn-danger btn-remove"><i class="glyphicon glyphicon-trash"></i></button>
               </td>
               <td>
                   其它信息
               </td>

           </tr>

           <tr>
               <td><input type="checkbox"  value="option1">222</td>
               <td>admin</td>
               <td>管理员</td>
               <td>2015-06-22 21:10:17</td>
               <td>127.0.0.1</td>
               <td>2015-06-22 21:10:17</td>
               <td>20</td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                   <button class="btn btn-sm btn-danger btn-remove"><i class="glyphicon glyphicon-trash"></i></button>
               </td>
               <td>
                   其它信息
               </td>
           </tr>
           <tr>
               <td><input type="checkbox"  value="option1">222</td>
               <td>admin</td>
               <td>管理员</td>
               <td>2015-06-22 21:10:17</td>
               <td>127.0.0.1</td>
               <td>2015-06-22 21:10:17</td>
               <td>20</td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                   <button class="btn btn-sm btn-danger btn-remove"><i class="glyphicon glyphicon-trash"></i></button>
               </td>
               <td>
                   其它信息
               </td>
           </tr>
           <tr>
               <td><input type="checkbox"  value="option1">222</td>
               <td>admin</td>
               <td>管理员</td>
               <td>2015-06-22 21:10:17</td>
               <td>127.0.0.1</td>
               <td>2015-06-22 21:10:17</td>
               <td>20</td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                   <button class="btn btn-sm btn-danger btn-remove"><i class="glyphicon glyphicon-trash"></i></button>
               </td>
               <td>
                   其它信息
               </td>
           </tr>
           <tr>
               <td><input type="checkbox"  value="option1">222</td>
               <td>admin</td>
               <td>管理员</td>
               <td>2015-06-22 21:10:17</td>
               <td>127.0.0.1</td>
               <td>2015-06-22 21:10:17</td>
               <td>20</td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                   <button class="btn btn-sm btn-danger btn-remove"><i class="glyphicon glyphicon-trash"></i></button>
               </td>
               <td>
                   其它信息
               </td>
           </tr>
           <tr>
               <td><input type="checkbox"  value="option1">222</td>
               <td>admin</td>
               <td>管理员</td>
               <td>2015-06-22 21:10:17</td>
               <td>127.0.0.1</td>
               <td>2015-06-22 21:10:17</td>
               <td>20</td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                   <button class="btn btn-sm btn-danger btn-remove"><i class="glyphicon glyphicon-trash"></i></button>
               </td>
               <td>
                   其它信息
               </td>
           </tr>
           <tr>
               <td><input type="checkbox"  value="option1">222</td>
               <td>admin</td>
               <td>管理员</td>
               <td>2015-06-22 21:10:17</td>
               <td>127.0.0.1</td>
               <td>2015-06-22 21:10:17</td>
               <td>20</td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                   <button class="btn btn-sm btn-danger btn-remove"><i class="glyphicon glyphicon-trash"></i></button>
               </td>
               <td>
                   其它信息
               </td>
           </tr>
           </tbody>
       </table>
       <nav style="position: absolute; right: 50px;">
           <ul class="pagination" style="margin: 0px;">
               <li>
                   <a href="#" aria-label="Previous">
                       <span aria-hidden="true">&laquo;</span>
                   </a>
               </li>
               <li><a href="#">1</a></li>
               <li><a href="#">2</a></li>
               <li><a href="#">3</a></li>
               <li><a href="#">4</a></li>
               <li><a href="#">5</a></li>
               <li>
                   <a href="#" aria-label="Next">
                       <span aria-hidden="true">&raquo;</span>
                   </a>
               </li>
           </ul>
       </nav>
   </div>
   <!--dialog-->
<div class="modal fade" id="my-modal" style="top:50%; margin-top:-120px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">警告框</h4>
            </div>
            <div class="modal-body">
                <p>确定要进行删除操作吗？删除后不可恢复</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" > 取消</button>
                <button type="button" class="btn btn-primary true-remove">删除</button>
            </div>
        </div>
    </div>
</div>
<!--dialog-->
<!--dialog删除-->
<div class="modal fade bs-example-modal-sm" id="error-dialog" tabindex="-1" style="top:50%; margin-top:-120px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >提示</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>
<!--dialog-->
<script>
    $('.btn-remove').click(function(){
        $('#my-modal').modal('show');
        $('.true-remove').click(function(){
//            $.ajax({
//                url : ThinkPHP['MODULE'] + '/Topic/ajaxCount',
//                type : 'POST',
//                data : {
//
//                },
//                success: function(data, response, status){
//                    window.count = parseInt(data);
//                }
//            });
            $('#my-modal').modal('hide');
            alert('删除成功');
            $('.modal-body').html('删除成功');
            $('#error-dialog').modal('show');
            setTimeout(function(){
                $('.modal-body').html('...');
                $('#error-dialog').modal('hide');
            },2000);

        })
    })


</script>

<{/block}>