<{include file="Common/header" /}>
<!--公部头部-->
<div class="container" id="main">
<div class="row">
<!--内容正文start-->
    <div class="col-md-8 blog-left-content blog-left-content2">
        <div class="container-fluid" id="blog-article-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-article-content-title">
                        <blockquote>这里是title</blockquote>
                    </div>
                    <div class="blog-other-info clearfix">
                        <div class="blog-created-info">
                            <span>2015-06-18</span>
                            <span class="blog-article-source">原创</span>
                            <span class="blog-article-author">草寇</span>
                        </div>
                        <div class="blog-customer-behavior-info">
                            <span>浏览次数</span><span>79</span>
                        </div>
                    </div>
                    <div class="blog-article-content-text">
                        服务机器人的飞速发展给我国机器人产业的未来带来了无尽的想象空间。然而，除技术因素之外，服务机器人的发展还面临着多重考验。磨刀不误砍柴工，摸清行业发展现状、了解行业发展趋势，对于尚未成熟的服务机器人产业而言必不可少。 　<br>　现今，从机器人行业的兴起到机器人产业的大面积布局，再到机器人全面进入井喷式发展阶段，“机器换人”已经不再是一个新鲜词汇。目前我国正在加快部署实施《中国制造2025》规划，实现制造业“智造”转型升级，机器人被列为重点发展产业。
                        <br>同时，随着人类对服务机器人产品的需求量日益增加，众多企业将目光投向智能服务领域。服务机器人行业展现出巨大的市场需求空间，它将逐渐成为机器人企业最重要的掘金点。如何使机器人快速地融入服务行业将会是各大机器人企业的下一个目标，也将是各个机器人企业长期站稳脚跟的重要保障。
                        <br> 　 服务机器人作为机器人家族中的年轻成员，倏然成为业内新宠。全球的行业数据预测，服务机器人的增速将远超工业机器人。从目前的服务机器人市场来看，服务机器人产品种类繁多、型号繁琐、产业类型覆盖领域大。据国际机器人产业联盟(International Federation of Robotics, IFR)统计，家用服务机器人2011年销量250万台，同比增长15%，销售额6.36亿美元，同比增长19%。2012-2015年在家用服务机器人领域，家政服务机器人销量将达1100万台，销售额近48亿美元;娱乐机器人销量预计为470万台，销售额达11亿美元;助残机器人销量将达4600台。
                        <br>据研究机构MarketsandMarkets预测，全球服务机器人市场规模年复合增长率约17.4%，到2017年将达到461.8亿美元。虽然更早地布局服务机器人行业有利于更快地占有市场，但是服务机器人产品生命周期短、技术指标高、产品更新换代快等一系列问题也对企业提出了更高的要求。 　
                    </div>
                    <div class="blog-state clearfix">
                        <i>“</i><span>自己约的炮，含泪要打完</span><i>”</i>
                        <div class="bdsharebuttonbox bdshare-button-style0-16" data-tag="share_1" data-bd-bind="1436863683999">
                            <a class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a>
                            <a class="bds_qzone" data-cmd="qzone" href="#" title="分享到QQ空间"></a>
                            <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a class="bds_baidu" data-cmd="baidu"></a>
                            <a class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                            <a class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                            <a class="bds_ty" data-cmd="ty" title="分享到天涯社区"></a>
                            <a class="bds_count" data-cmd="count" title="累计分享1次">1</a>
                        </div>
                    </div>
                    <div class="blog-prev-next">
                        <ul class="clearfix">
                            <li class="prev-left">上一篇:
                                <a href="/notes/OGQ0YmY4Y2UwZmYyZWMx.html">为网站提速-优化网站的响应时间</a>
                            </li>


                            <li class="next-right">下一篇:
                                没有了
                            </li>
                        </ul>
                    </div>
                    <div id="blog-article-comments">
                        <iframe id="WBCommentFrame" src="http://widget.weibo.com/distribution/comments.php?width=0&amp;url=http%3A%2F%2Fnotes.2isky.com%2Fnotes%2FjkwZTg5NzZhYWI1Mjk4Z.html&amp;brandline=y&amp;fontsize=12&amp;color=ffffff,ffffff,4c4c4c,5093d5,cccccc,f0f0f0&amp;colordiy=1&amp;appkey=1039339107&amp;dpc=1" scrolling="no" frameborder="0" style="width: 100%; height: 397px;"></iframe>
                        <script src="http://tjs.sjs.sinajs.cn/open/widget/js/widget/comment.js" type="text/javascript" charset="utf-8"></script>
                        <script type="text/javascript">
                            window.WBComment.init({
                                "id": "WBCommentFrame"
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--内容正文end-->
<{include file="Common/right" /}>
</div>
</div>
<!--页面底部start-->
<{include file="Common/footer" /}>