<{extend name="Base/common" /}>
<!--首页左侧菜单-->
<{block name="style"}><link href="__CSS__/form.css" rel="stylesheet" type="text/css" /><{/block}>
<{block name="menu"}>
    <{include file="Public/left-setting" /}>
<{/block}>

<{block name="main"}>

    <div class="form_title"><i class="icon-cogs"><span class="glyphicon glyphicon-th-list"></span></i>角色列表</div>
   <div class="form_con">
       <table class="table table-striped table-hover table-bordered" style="color: #888">
           <thead>
           <tr  style="font-weight: bold">
               <th class="col-md-1">排序</th>
               <th class="col-md-1">ID</th>
               <th class="col-md-4">角色名</th>
               <th class="col-md-1">状态</th>
               <th class="col-md-1">角色操作</th>
               <th class="col-md-1">权限配置</th>
           </tr>
           </thead>
           <tbody>
           <tr>
               <td><input type="checkbox"  value="option1"></td>
               <td>1</td>
               <td>创建人</td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success" ><i class="glyphicon glyphicon-ok-circle"></i></button>
                   <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></button>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                   <button class="btn btn-sm btn-danger btn-remove"><i class="glyphicon glyphicon-trash"></i></button>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-info"><i class="glyphicon glyphicon-cog"></i> 配置权限</button>
               </td>

           </tr>
           <tr>
               <td><input type="checkbox"  value="option1"></td>
               <td>1</td>
               <td>创建人</td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success" ><i class="glyphicon glyphicon-ok-circle"></i></button>
                   <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></button>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                   <button class="btn btn-sm btn-danger btn-remove"><i class="glyphicon glyphicon-trash"></i></button>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-cog"></i></button>
               </td>
           </tr>
           <tr>
               <td><input type="checkbox"  value="option1"></td>
               <td>1</td>
               <td>创建人</td>
               <td>创建人</td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                   <button class="btn btn-sm btn-danger btn-remove"><i class="glyphicon glyphicon-trash"></i></button>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-cog"></i></button>
               </td>
           </tr>
           <tr>
               <td><input type="checkbox"  value="option1"></td>
               <td>1</td>
               <td>创建人</td>
               <td>创建人</td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                   <button class="btn btn-sm btn-danger  btn-remove"><i class="glyphicon glyphicon-trash"></i></button>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-cog"></i></button>
               </td>
           </tr>
           <tr>
               <td><input type="checkbox"  value="option1"></td>
               <td>1</td>
               <td><{:CONTROLLER_NAME}></td>
               <td><{:CONTROLLER_NAME}></td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-success" ><i class="glyphicon glyphicon-pencil"></i></button>
                   <button class="btn btn-sm btn-danger  btn-remove"><i class="glyphicon glyphicon-trash"></i></button>
               </td>
               <td class="btn_edit">
                   <button class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-cog"></i></button>
               </td>
           </tr>
           </tbody>
       </table>
       <!--分页开始-->
       <nav style="position: absolute; right: 50px;">
           <ul class="pagination" style="margin: 0px;">
               <li>
                   <a href="#" aria-label="Previous">
                       <span aria-hidden="true">&laquo;</span>
                   </a>
               </li>
               <li><a href="#">1</a></li>
               <li><a href="#">2</a></li>
               <li><a href="#">3</a></li>
               <li><a href="#">4</a></li>
               <li><a href="#">5</a></li>
               <li>
                   <a href="#" aria-label="Next">
                       <span aria-hidden="true">&raquo;</span>
                   </a>
               </li>
           </ul>
       </nav>
       <!--分页结束-->
   </div>
   <!--dialog-->
<div class="modal fade" id="my-modal" style="top:50%; margin-top:-120px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">警告框</h4>
            </div>
            <div class="modal-body">
                <p>确定要进行删除操作吗？删除后不可恢复</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" > 取消</button>
                <button type="button" class="btn btn-primary true-remove">删除</button>
            </div>
        </div>
    </div>
</div>
<!--dialog-->
<!--dialog删除-->
<div class="modal fade bs-example-modal-sm" id="error-dialog" tabindex="-1" style="top:50%; margin-top:-120px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >提示</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>
<!--dialog-->
<script>
    $('.btn-remove').click(function(){
        $('#my-modal').modal('show');
        $('.true-remove').click(function(){
//            $.ajax({
//                url : ThinkPHP['MODULE'] + '/Topic/ajaxCount',
//                type : 'POST',
//                data : {
//
//                },
//                success: function(data, response, status){
//                    window.count = parseInt(data);
//                }
//            });
            $('#my-modal').modal('hide');
            alert('删除成功');
            $('.modal-body').html('删除成功');
            $('#error-dialog').modal('show');
            setTimeout(function(){
                $('.modal-body').html('...');
                $('#error-dialog').modal('hide');
            },2000);

        })
    })

</script>
<{/block}>