<{extend name="Base/common" /}>
<{block name="style"}>
<link href="__CSS__/form.css" rel="stylesheet" type="text/css" />
<!-- 日期插件-->
<script src="__DATA__/My97DatePicker/WdatePicker.js"></script>
<{/block}>
<{block name="menu"}><{include file="Public/left-content" /}><{/block}>
<{block name="main"}>
<div class="form_title"><i class="icon-cogs"><span class="glyphicon glyphicon-th-list"></span></i>管理员列表</div>
<div class="form_con">
    <!--搜索表单-->
    <form class="form-inline" action="<{:U('Article/index')}>" method="get">
        <div class="form-group  form_layout">
            <label >排序&nbsp;</label>
            <select class="form-control input-sm" name="order" >
                <option value="">---排序---</option>
                <option value="3">ID正序</option>
                <option value="4">ID倒序</option>
                <option value="7">添加时间正序</option>
                <option value="8">添加时间倒序</option>
            </select>
        </div>
        <div class="form-group form_layout">
            <label>ID&nbsp;</label>
                <input type="text" placeholder="请输入ID" value="<{$map.id}>"  class="form-control input-sm length-80 " name="id">
        </div>
        <div class="form-group form_layout">
            <label >发布用户&nbsp;</label>
                <input type="text" value="<{$map.user_name}>"  class="form-control input-sm "  placeholder="请输入用户" name="username">
        </div>
        <div class="form-group form_layout" style="width: 46%">
            <label  >标题 &nbsp;</label>
            <input type="text" name="title" class="form-control input-sm" style="width: 92%" placeholder="请输入要查找的标题" name="login_ip">
        </div>
        <div class="form-group  form_layout">
            <label >状态&nbsp;</label>
            <select class="form-control input-sm" name="status">
                <option value="" <{if condition="$map['status']==false"}>selected="selected" <{/if}>>选择</option>
                <option value="normal" <{if condition="$map['status']==1"}>selected="selected" <{/if}> >正常</option>
                <option value="refuse" <{if condition="$map['status']==false"}>selected="selected" <{/if}> >未通过</option>
                <option value="wait" <{if condition="$map['status']==2"}>selected="selected" <{/if}> >待审核</option>
                <option value="remove" <{if condition="$map['status']==3"}>selected="selected" <{/if}> >已删除</option>
            </select>
        </div>
        <div class="form-group  form_layout">
            <label >所属栏目&nbsp;</label>
            <select class="form-control input-sm length-200" name="cateid">
                <option value="">--请选择归属栏目--</option>
                <{volist name="category" id="vo"}>
                <option value="<{$vo.id}>"  <{if condition="$map['cateid']==$vo['id']"}>selected="selected" <{/if}> > <{if condition="$vo['pid']==0"}>
                ├<{$vo.ctitle}><{else /}>├<{$vo.html}>[<{$vo.ctitle}>]<{/if}></option><{/volist}>
            </select>
        </div>
        <div class="form-group form_layout">
            <label >发布时间&nbsp;</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ></i></span>
                <input id="d5221" value="<{$map.add_time_from}>"  name="addtime_from" class=" form-control input-sm length-100" type="text" onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})"/>
            </div>
            至
            <div class="input-group">
                <input id="d5222" value="<{$map.add_time_to}>" name="addtime_to" class=" form-control input-sm length-100" type="text" onFocus="WdatePicker({skin:'whyGreen',minDate:'#F{$dp.$D(\'d5221\')}'})"/>
                <span class="input-group-addon" ><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
        <div class="form-group  form_layout">
            <button type="submit" class="btn btn-sm btn-success">提 交</button>
            <button type="reset" class="btn btn-sm btn2">重 置</button>
        </div>
    </form>
    <!--搜索表单结束-->
    <legend style="margin-bottom: 10px;"></legend>
    <!--列表开始-->
    <table class="table table-striped table-hover  table-bordered" style="color: #494b49" id="table-list">
        <tr style="background: #efefef;">
            <th><input type="checkbox"  value="option1" id="all"></th>
            <th>ID</th>
            <th>文章标题</th>
            <th>所属栏目</th>
            <th>用户</th>
            <th>更新时间</th>
            <th>点击</th>
            <th>状态</th>
            <th>管理操作</th>
        </tr>
        <{volist name="list" id="vo" }>
        <tr>
            <td><input type="checkbox"  value="option1"></td>
            <td> <{$vo.id}></td>
            <td><a href="<{:U('/'.'Blog/notes/'.$vo['id'])}>" target="_blank"><{$vo.title}></a><{if condition="$vo['nature']"}><strong style="color: red"> [推荐] </strong><{/if}></td>
            <td><code><a href="<{:U('Article/index',array('cateid'=>$vo['cateid']))}>"><{$vo.ctitle}></a></code></td>
            <td><{$vo.user_name}></td>
            <td><{$vo.update_time|date="Y-m-d",###}></td>
            <td><code><{$vo.hits}></code></td>
            <td class="btn_edit">
                <{if condition="$vo['status']==2"}>
                <i class="glyphicon glyphicon-question-sign" style="color: #a80804"  data-toggle="tooltip" data-placement="right" title="待审核"></i>
                <{/if}>
                <{if condition="$vo['status']==1"}>
                <i class="glyphicon glyphicon-ok" style="color: #5d9912" data-toggle="tooltip" data-placement="right" title="正常"></i>
                <{/if}>
                <{if condition="$vo['status']==0"}>
                <i class="glyphicon glyphicon-remove" style="color: #a80804"  data-toggle="tooltip" data-placement="right" title="审核未通过"></i>
                <{/if}>
                <{if condition="$vo['status']==3"}>
                <i class="glyphicon glyphicon-trash" style="color: #a80804"  data-toggle="tooltip" data-placement="right" title="已删除"></i>
                <{/if}>
            </td>
            <td class="btn_edit">
                <a href="<{:U('Article/article_edit',array('edit'=>$vo['id']))}>" class="btn btn-sm btn-success "  data-toggle="tooltip" data-placement="left" title="修改"><i class="glyphicon glyphicon-pencil"></i></a>
                <button class="btn btn-sm btn-danger btn-remove"  data-toggle="tooltip" data-placement="right" title="删除"  <{if condition="$vo['id']==1"}>disabled <{/if}> data="<{$vo.id}>" ><i class="glyphicon glyphicon-trash"></i></button>
            </td>

        </tr>
        <{/volist}>

    </table>
    <!--列表结束-->
    <!--操作-->
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm btn-primary select-all">全选</button>
        <button type="button" class="btn btn-sm btn-primary select-un">全不选</button>
        <button type="button" class="btn btn-sm btn-primary select-re">反选</button>
        <div class="btn-group dropup">
            <button type="button" class="btn btn-sm btn-primary">操作</button>
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">批量删除</a></li>
                <li><a href="#">新增</a></li>
            </ul>
        </div>
    </div>
    <!--操作-->

    <!--分页-->
    <{$page}>
    <!--分页-->
</div>
<!--dialog-->
<div class="modal fade" id="my-modal" style="top:50%; margin-top:-120px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">警告框</h4>
            </div>
            <div class="modal-body">
                <p>确定要进行删除操作吗？删除后不可恢复</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" > 取消</button>
                <button type="button" class="btn btn-primary true-remove">删除</button>
            </div>
        </div>
    </div>
</div>
<!--dialog-->
<!--dialog删除-->
<div class="modal fade bs-example-modal-sm" id="error-dialog" tabindex="-1" style="top:50%; margin-top:-120px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >操作提示</h4>
            </div>
            <div class="modal-body del-result">
                ...
            </div>
        </div>
    </div>
</div>
<!--dialog-->
<script>

    $('.btn-remove').click(function(){
        var thisClick=$(this).parents('tr');
        var getId=$(this).attr('data');
        var Url="<{:U('Article/document_del')}>";
        $('#my-modal').modal('show');
        $('.true-remove').click(function(){
            $.ajax({
                url : Url,
                type : 'POST',
                data : { id:getId },
                beforeSend : function () {
                    $('#my-modal').modal('hide');
                },
                success: function(data, response, status){

                    if(data=="true"){
                        $('.del-result').html('删除成功');
                        $('#error-dialog').modal('show');
                        setTimeout(function(){
                            $('.del-result').html('...');
                            $('#error-dialog').modal('hide');
                            thisClick.remove();
                        },2000);
                    }else{
                        $('.del-result').html('删除失败,请重试');
                        $('#error-dialog').modal('show');
                        setTimeout(function(){
                            $('.del-result').html('...');
                            $('#error-dialog').modal('hide');
                        },2000);
                    }
                }
            });


        })
    })
    //反选 全选操作
    function allchk(){
        var chknum = $("#table-list :checkbox").size();//选项总个数
        var chk = 0;
        $("#table-list :checkbox").each(function () {
            if($(this).prop("checked")==true){
                chk++;
            }
        });
        if(chknum==chk){//全选
            $("#all").prop("checked",true);
        }else{//不全选
            $("#all").prop("checked",false);
        }
    }
    //全选框
    $("#all").click(function(){
        if(this.checked){
            $("#table-list :checkbox").prop("checked", true);
        }else{
            $("#table-list :checkbox").prop("checked", false);
        }
    });
    //全选按扭
    $(".select-all").click(function () {
        $("#table-list :checkbox,#all").prop("checked", true);
    });
    //全不选按扭
    $('.select-un').click(function(){
        $("#table-list :checkbox").prop("checked", false);
    });
    //反选按扭
    $('.select-re').click(function(){
        $("#table-list :checkbox").each(function () {
            $(this).prop("checked", !$(this).prop("checked"));
        });
        allchk();
    });

</script>
<{/block}>